{% extends 'base.html' %} {% block head %}

{% endblock %} {% block body %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container-fluid">

    <form action="/users/api/adduser" method="POST">
        <div class="form-group">
            <label for="username" class="form-label">Benutzername</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <p>Das Passwort muss folgenden Standarts gerecht werden:</p>
        <li>min. 8 Zeichen / max. 20</li>
        <li>min. ein Klein- und Grossbuchstaben</li>
        <li>min. eine Zahl</li>
        <li>min. ein Sonderzeichen</li>

        <div class="form-group">
            <label for="password1" class="form-label">Passwort wiederholen</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>


        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <input type="submit" class="btn btn-info" value="User hinzufügen"></input>
    </form>

</div>



{% endblock %}