{% extends 'base.html' %}

{% block head %}


{% endblock %}



{% block body %}

{% set error = request.args.get('error') %}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container-fluid">

    <main role="main" class="col-md">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Einstellungen</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn btn-outline-secondary" data-toggle="modal"
                        data-target="#addUser">
                        <span data-feather="plus-circle"></span>
                        User hinzufügen
                    </button>
                </div>

            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Bearbeiten</th>

                    </tr>
                </thead>
                <tbody>
                    {% for x in user %}
                    <tr>
                        <td>{{ x.username }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#deleteUser" data-username="{{ x.username }}">
                                Löschen
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</div>


<!--New User Popup-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User hinzufügen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/users/api/adduser" method="POST">
                    <div class="form-group">
                        <label for="username" class="form-label">Benutzername</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Passwort</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>

                    <p>Das Passwort muss folgenden Standarts gerecht werden:</p>
                    <li>min. 8 Zeichen / max. 20</li>
                    <li>min. ein Klein- und Grossbuchstaben</li>
                    <li>min. eine Zahl</li>
                    <li>min. ein Sonderzeichen</li>

                    <div class="form-group">
                        <label for="password1" class="form-label">Passwort wiederholen</label>
                        <input type="password" class="form-control" name="password1" id="password1">
                    </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <input type="submit" class="btn btn-info" value="User hinzufügen"></input>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Delete User Popup-->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="delTitel">Es wird folgender Benutzer gelöscht:</p>

                <p>
                    Dies kann nicht Rückgängig gemacht werden!
                    Möchten Sie dies durchführen?
                </p>
                <form action="/users/api/deluser" method="POST">
                    <input type="hidden" id="username_del" name="username_del" value="">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <input type="submit" class="btn btn-danger" value="User löschen"></input>
            </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block afterscript %}
<script>

    // 
    $('#deleteUser').on('show.bs.modal', function (event) {
        var button = event.relatedTarget // Gets the button who opens the modal
        var recipient = button.getAttribute('data-username') // Extracts the data from the specific button
        document.getElementById('delTitel').insertAdjacentText("afterend", recipient) // Sets the hidden field to the correct Sensor ID
        document.getElementById('username_del').setAttribute('value', recipient) // Sets the hidden field to the correct Sensor ID

    });
</script>

{% endblock %}